//Estilos de mis botones

.btn{
    display: inline-block;
    padding: .8em 1.6em;
    border-radius: 7px;
    margin: 4px;
    color: $textColorWhite;

    &.btn-primary{
        // background-color: #418bff;
        background-color: lighten($primaryColor,8);
    }

    &.btn-secondary{
        // background-color: $secundaryColor;
        background-color: darken($secundaryColor,10);
    }

    &:hover{
        background-color: tomato;
    }
}