// Estilos de mi header
header{
    background: $primaryColor;
    min-height: 70vh;
    nav{
        .logo{
            font-size: 1.5em;
        }
        width: 100%;
        @include displayFlexRow();
        padding: 20px 0;
        ul{
            @include displayFlexRow();
            gap: 2em;
        }
    }

    .showcas-content{
        @include displayFlexRow();
        .section-col{
            max-width: 50%;
            color: $textColorWhite;
            h1{
                font-size: 2em;
            }
            p{
                line-height: 1.5em;
                font-size: 1em;
                margin: 20px 0;
            }
        }
        img{
            max-width: 30em;
        }
    }
}