// Contenedor de mixins
@mixin displayFlexRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap; // es un shortcut de flex-direction y flex-wrap
}

@mixin displayFlexDinamico($direction,$justify,$align,$wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}