// Etiquetas independientes con alcance global

//reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $siteFont;
}

ul{
    list-style: none;
}

a{
    // list-style: none;
    text-decoration: none;
    color:$textColorWhite;
}