@import "config";
@import "utils";
@import "mixins";
@import "header";
@import "buttons";
@import "./responsive/mobiles";

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

