
/* prioridad 


*/

#body{
    background-color:thistle;
}

#parrafo{
    color: yellow;
}

#parrafo2{
    color: red;
}

p{
    color: #fff;
}
/* Definir estilos de la clase caja */

.caja{
    border: 1px solid #fff;
    height: 50px;
    width: 200px;
    margin: 2rem;
    padding: 2rem;
}

.caja#cajaRoja{
    border: 1px solid #f00;
}

.container{
    margin: 3rem;
    border: 1px solid blue;8
    padding: 3rem;
    width: 30rem;
    height: 5rem;
}